<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t('index.title') %></title>
  <!-- <link href="assets/css/style.css" rel="stylesheet" /> -->
</head>
<body class="container">
    <div class="centered-element">
      <!-- <img src="assets/images/logo-melodias-mente.svg"> -->
      <video src="assets/videos/MDM_LOOP_32sec_Alpha_VP9.webm" muted autoplay loop playsinline disablePictureInPicture></video>
      <!-- <button class="btn-accion" id="nextButton">Comenzar</button> -->
      <button class="btn-accion" id="nextButton"><%= t('index.start') %></button>
      <p>Is 't' function present? <%= typeof t === 'function' %></p>
      <p><%= JSON.stringify(locals, null, 2) %></p>
    </div>
<script src="/js/index.js" type="module"></script>
</body>
</html>