/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
	line-height: 1;
	font-family:'Rubik';
	
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1 {
  
  font-family:'Rubik';
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.1em;	
  color: #AEC90B;
  text-align: center;
  border-bottom: 3px dotted #AEC90B; 
  padding-bottom: 20px; 

}

P {
  
  font-family:'Rubik';
  font-size: 1em;
  font-weight: 200;
	line-height: 1.5em;
  letter-spacing: 0.1em;	
  color: #FFFFFF;
  text-align: center;

}

Span {
	font-weight: 600;
	}


/* estilos generales
*/

.container {
    display: flex;
	width: auto;
	height:100vh;
    align-items: center;
    justify-content: center;
    background-color:#162331; 
	margin-left:auto;
	margin-right:auto; 
}

.centered-element  {
	
	font-family:'Rubik';
	width: 50%;
	align-items: center;
	
	}

.centered-element-2  {
	
	font-family:'Rubik';
	width: 80%;
	align-items: center;
	
	}


.text-center{
	
	width: auto;
	text-align: center;
	
	}

.btn-accion {
  
  font-family:'Rubik';
	font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.1em;	
  text-transform:uppercase; 
  background-color: #162331;
  border: medium solid #AEC90B;
  border-radius: 8px;
  color: #AEC90B;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}

.btn-accion:hover {
  
-webkit-box-shadow: 1px 1px 26px 0px rgba(174,201,11,1);
-moz-box-shadow: 1px 1px 26px 0px rgba(174,201,11,1);
box-shadow: 1px 1px 26px 0px rgba(174,201,11,1);
}

.centered-element-30  {

	width:30%;
	align-items: center;
	float: left; 
	display: block; 
	margin: 1em;
	
}

.centered-element-20  {

	width:20%;
	align-items: center;
	float: left; 
	display: block; 
	margin: 1em;
	
}

ul.aclaracion {
	font-size: 0.8em;
	color: #FFFFFF;
	list-style-type: none;

}

ul.aclaracion li {
	padding-top:0.8em;
	padding-bottom: 0.8em;

}
