* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    background-color: transparent;
    width: 45%;
    color: #000000;
    font-size: 25 px;
    padding: 70px 20px;
    margin: 28px 0;
    box-sizing: border-box;
    border-radius: 4px;
}
