@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  background-color : transparent;
}


.caja-padre{
  width: 80%;
  min-width: 300px;
  position: relative;
  left: 0%;
  top: 0%;
}

.contenedor{
  font-family:'Rubik';
  width:100%;
  padding: 0px 0px 0px;
  background: transparent;
  color: white;
  border-radius: 10px;
  /*border: 3px solid var(--main-color);*/
}

.container{
  font-family:'Rubik';
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size:35px;
  background-color: transparent;
  text-shadow: 0px 0px 5px black;
  /* border: 3px solid var(--main-color);
  border-radius: 50px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color);
}


.participants-counter{
  display: flex;
  align-items:center;
}

.number{
  margin-left: 5px;
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
}

h2{
  text-align: left;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: 0px 0px 5px black;
}

p{
  margin-top: 10px;
  line-height: 10px;
}

p#joy, p#sadness, p#surprise, p#disgust, p#fear, p#anger, p#other{
  margin-bottom: 5px;
}

img{  
  height: 40px;  
  width: 40px; 
}  


#right{    
  float: right;  
}

.emotions:not(:last-child){
  margin-bottom: 20px;
}

.details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size:20px;
  text-shadow: 0px 0px 5px black;
}

.menu{
  position: relative;
  font-size: 0.25vmax;
  width: 100%;
  border: 3px solid white;
  border-radius: 20px;
  background-color: transparent;
}

.menu div{
  position: relative;
  /* box-shadow: inset -100em 0 0 0 #f7f7f7; */
  width: 0%;
  height: 25px;
  border-radius: 50px;
  /* background: linear-gradient(450deg, cyan, yellow, red); */
  background: linear-gradient(450deg, var(--main-color), var(--main-color));
  font-size: 0.25vmax;
  opacity: 0.75;
}

#alegria-menu{
  animation: alegria-bar 5s forwards;
}

@keyframes alegria-bar {
  100%{
    width: 100%;
  }
}

#tristeza-menu{
  animation: tristeza-bar 5s forwards;
}

@keyframes tristeza-bar {
  100%{
    width: 100%;
  }
}

#sorpresa-menu{
  animation: sorpresa-bar 5s forwards;
}

@keyframes sorpresa-bar {
  100%{
    width: 100%;
  }
}

#asco-menu{
  animation: asco-bar 5s forwards;
}

@keyframes asco-bar {
  100%{
    width: 100%;
  }
}

#miedo-menu{
  animation: miedo-bar 5s forwards;
}

@keyframes miedo-bar {
  100%{
    width: 100%;
  }
}

#enojo-menu{
  animation: enojo-bar 5s forwards;
}

@keyframes enojo-bar {
  100%{
    width: 100%;
  }
}

#otro-menu{
  animation: otro-bar 5s forwards;
}

@keyframes otro-bar {
  100%{
    width: 100%;
  }
}

.bar-wrap{
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 0.25vmax;
  width: 100%;
  height: 30px;
  border: 3px solid white;
  border-radius: 20px;
  background-color: None;
  text-align: center;
  margin-top: 50px;
}

.positive{
  width: 0%;
  background-color: var(--main-color-transparent);
  float: left;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  line-height:0px;
  font-size: 20px;
  text-shadow: 0px 0px 5px black;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: white;
  animation: positive-bar 5s forwards;
}

@keyframes positive-bar {
  100%{
    width: 50%;
  }
}

.neutral{
  width: 0%;
  background-color: var(--main-color-transparent);
  float: left;
  font-size: 20px;
  line-height: 0px;
  text-shadow: 0px 0px 5px black;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: white;
  animation: neutral-bar 5s forwards;
}

@keyframes neutral-bar {
  100%{
    width: 25%;
  }
}

.negative{
  width: 0%;
  background-color: var(--main-color-transparent);
  float: left;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-shadow: 0px 0px 5px black;
  font-size: 20px;
  line-height: 0px;
  animation: negative-bar 5s forwards;
}

@keyframes negative-bar {
  100%{
    width: 25%;
  }
}
