*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--bs-font-sans-serif);
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #162331;
}

p{
  font-family:'Rubik';
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  text-shadow: 0px 0px 5px black;
}

p#joy, p#sadness, p#surprise, p#disgust, p#fear, p#anger, p#other{
  margin-bottom: 5px;
}


.watermark{
  width:30%;
  height:30%;
}

.container .watermark_and_mode{
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: left;
  min-width:390px;
  max-width:670px;
  max-height: 100px;
  background-color: var(--bs-dark-transparent);
  border-radius: 50px;
  padding: 5px;
}

.tagcloud {
  font-family: 'Rubik'; 
  font-size: 20px;
  margin: left;
  margin-left:50px;
  width: 50%;
  color: white;
}

.tagcloud--item:hover {
  color: white;
}

.caja-padre{
  width: 35%;
  min-width: 300px;
  position: relative;
  transform: translate(-25%,-130%);
  left: 70%;
  top: 10%;
}

.contenedor{
  font-family:'Rubik';
  width:100%;
  padding: 30px 30px 30px;
  background: transparent;
  color: white;
  border-radius: 10px;
  /*border: 3px solid greenyellow;*/
}

.container{
  font-family:'Rubik';
  width: 100%;
  height: 70px;
  margin-top:80px;
  margin-bottom:20px;
  margin-left:50px;
  margin-right:50px;
  font-weight:bold;
  font-size:35px;
  background-color: transparent;
  text-shadow: 0px 0px 5px black;
  /*border: 3px solid greenyellow;*/
  /* border-radius: 50px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color);
}

.participants-counter{
  /* align-items:right;
  align-self:right; */
  margin-right: 150px;
  background-color: var(--bs-dark-transparent);
  text-shadow: 0px 0px 5px black;
  padding: 10px;
  border-radius: 50px;
  min-width: 175px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 45px;
  gap: 10px;
}

.number{
  margin-left: 0px;
  margin-right: 0px;
  font-size: 45px;
  font-weight: bold;
}

h1{
  font-family:'Rubik';
  text-align: left;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform:uppercase; 
}

h2{
  font-family:'Rubik';
  text-align: left;
  font-size: 30px;
  margin-bottom:30px;
  text-shadow: 0px 0px 5px black;
}

img{  
  height: 40px;  
  width: 40px; 
}  


#right{    
  float: right;  
}

.emotions:not(:last-child){
  margin-bottom: 20px;
}

.details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size:25px;
  text-shadow: 0px 0px 5px black;
}

.menu{
  position: relative;
  font-size: 0.25vmax;
  width: 100%;
  outline: 3px solid white;
  border-radius: 20px;
  background-color: transparent;
}

.menu div{
  position: relative;
  /* box-shadow: inset -100em 0 0 0 #f7f7f7; */
  width: 0%;
  height: 25px;
  border-radius: 50px;
  /* background: linear-gradient(450deg, cyan, yellow, red); */
  background: linear-gradient(450deg, var(--main-color), var(--main-color));
  font-size: 0.25vmax;
  opacity: 0.75;
}

#alegria-menu{
  animation: alegria-bar 5s forwards;
}

@keyframes alegria-bar {
  100%{
    width: 100%;
  }
}

#tristeza-menu{
  animation: tristeza-bar 5s forwards;
}

@keyframes tristeza-bar {
  100%{
    width: 100%;
  }
}

#sorpresa-menu{
  animation: sorpresa-bar 5s forwards;
}

@keyframes sorpresa-bar {
  100%{
    width: 100%;
  }
}

#asco-menu{
  animation: asco-bar 5s forwards;
}

@keyframes asco-bar {
  100%{
    width: 100%;
  }
}

#miedo-menu{
  animation: miedo-bar 5s forwards;
}

@keyframes miedo-bar {
  100%{
    width: 100%;
  }
}

#enojo-menu{
  animation: enojo-bar 5s forwards;
}

@keyframes enojo-bar {
  100%{
    width: 100%;
  }
}

#otro-menu{
  animation: otro-bar 5s forwards;
}

@keyframes otro-bar {
  100%{
    width: 100%;
  }
}

.bar-wrap{
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 0.25vmax;
  width: 100%;
  height: 40px;
  border: 3px solid white;
  border-radius: 20px;
  background-color: None;
  text-align: center;
  margin-top: 50px;
}

.positive{
  width: 0%;
  background: linear-gradient(450deg, var(--main-color-transparent), var(--main-color-transparent));
  float: left;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 5em;
  text-shadow: 0px 0px 5px black;
  line-height: 1.4em;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: white;
  animation: positive-bar 5s forwards;
}

@keyframes positive-bar {
  100%{
    width: 50%;
  }
}

.neutral{
  width: 0%;
  background: linear-gradient(450deg, var(--main-color-transparent), var(--main-color-transparent));
  float: left;
  font-size: 5em;
  line-height: 1.4em;
  text-shadow: 0px 0px 5px black;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: white;
  animation: neutral-bar 5s forwards;
}

@keyframes neutral-bar {
  100%{
    width: 25%;
  }
}

.negative{
  width: 0%;
  background: linear-gradient(450deg, var(--main-color-transparent), var(--main-color-transparent));
  float: left;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-shadow: 0px 0px 5px black;
  font-size: 5em;
  line-height: 1.4em;
  animation: negative-bar 5s forwards;
}

@keyframes negative-bar {
  100%{
    width: 25%;
  }
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
  }

}

.overlay{
  background-image: linear-gradient(to bottom right,var(--bs-dark-transparent),var(--bs-cyan-transparent));
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-red-transparent: rgba(220,53,69,0.8);
  --bs-orange: #fd7e14;
  --bs-orange-transparent: rgba(253,126,20,0.8);
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-mustard-green: #aec90bff;
  --bs-mustard-green-transparent: rgba(181, 211, 13, 0.8);
  --bs-yellow: #f7cf0dff;
  --bs-yellow-transparent: rgba(247,207,13,0.75);
  --bs-cyan: #00a2c5ff; /* jonico */
  --bs-cyan-transparent: rgba(0,162,197,0.8); /* jonico */
  --bs-purple: rgb(153, 90, 202);
  --bs-purple-transparent: rgba(153, 90, 202, 0.8);
  --bs-pink: #ce5392ff;
  --bs-pink-transparent: rgba(206,83,146,0.8);
  --bs-gray-dark: #343a40;
  --bs-beige: #cec6bb;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-highlight: #AEC90B;
  --bs-highlight-hover: rgba(174,201,11,1);
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-light-transparent: rgba(248, 249, 250, 0.8);
  --bs-dark: #162331;
  --bs-dark-transparent: rgba(22, 35, 49, 0.8);
  --bs-dark-light: rgb(106, 150, 167);
  --bs-dark-hover: rgba(255, 255, 255, 0.1);
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Rubik";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

.image-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Add this to stack image and text vertically */
  width: auto; /* Adjust the desired width */
  height: 410px; /* Adjust the desired height */
  padding: 15px;
  margin-top:45px;
  box-sizing: border-box;
  text-align: center;
}

.image-tile img {
  max-width: 100%;
  max-height: 100%;
  width: auto; /* Set the width to auto to maintain aspect ratio */
  height: auto; /* Set the height to auto to maintain aspect ratio */
}

.mosaic-grid {
  display: grid;
  margin-left:30px;
  margin-right:30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
}

.img-caption{
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: bold;
  color: white;
}